.header {
    height: 60px;
    width: 100%;
    position: relative;
}
.header .img{
    position: absolute;
    right: 1em;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
}
.header img{
    height: 100%;
    object-fit: cover;
}

.filter {
    margin-top: 1em;
    width: 100%;
    margin-bottom: 1em;

}
.filter .up{
    display: flex;
    height: fit-content;
margin-left: 1em;
    align-items: center;
}
.filter .up button{
    background-color: transparent;
    border: none;
    height: 100%;
    margin-left: 0.5em;
    cursor: pointer;
}
.filter .up button img{
    transition: ease-in 0.5s;
}
.filter .up .search_logo{
    transition: ease-in-out 0.2s;
}
.filter .up .search_logo:hover{
    transform: scale(1.1);
}

.filter .up .searchbar{
    width: 80vw;
    border-radius: 15px;
    font-size: 1.2em;
    padding: 0.2em 0.8em;
    color: var(--text);
    background:var(--double-gradient);
  border: none;
  box-shadow: var(--shadow);

}
.searchbar::placeholder{
    color: var(--gris);
}
.filter .down{
    width: 50%;
    margin-left: 1.5em;
    margin-top: 0.5em;
}
.filter .down button{
    cursor: pointer;
}
.filter .down select{
    width: 100%;
    border-radius: 10px;
}
.filter .clearfilter{
    margin-top: 0.5em;
    padding: 0.2em 0.5em;
    border-radius: 10px;
    font-size: 1.1em;
    background: var(--pink-gradient);
    color: var(--text);
    border: none;
    box-shadow: 1px 3px 10px #0000009c;
    text-shadow: 1px 1px 10px #0000009c;
}
.filter .open{
    filter:  var(--icon_pink);
}
.container_offer{
    width: 100%;
    height: fit-content;
      display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    gap: 1em;
    margin-bottom: 3em;
}
.container_offer .offer{
    width: 320px;
    /* height: 310px; */
    border-radius: 10px;
    background: var(--double-gradient);
    box-shadow: var(--shadow);
    padding: 0.5em;
    position: relative;
}
.offer .img_title img{
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
}
.offer .img_title{
    max-width: 100%;
    display: flex;
    align-items: center;
    gap: 0.5em;
}
.startupname{
    position: absolute;
    right: 0.5em;
    top: 0.5em;
}

.info div{
    display: flex;
    gap: 0.5em;
    margin-top: 0.5em;
    font-size: 0.8em;
    align-items: center;

}
.offer .pitch{
    font-size: 0.9em;
}

.line{
    height: 2px;
    width: 100%;
    margin: 0.5em 0;
background: linear-gradient(90deg,rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 50%, rgba(252, 252, 252, 0) 100%);
}
.postule{

position: absolute;
bottom: 0.8em;
right: 1em;
}
.postule button{
       padding: 0.3em 1em;
       border: none;
       box-shadow: var(--shadow);
       background: var(--pink-gradient);
       color: var(--text);
       text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.284);
       border-radius: 1em;
       font-weight: bolder;
       font-size: 1.2em;
}